{% extends "layout.html" %}

{% block title %}
NetCAfe- About us
{% endblock %}


{% block main %}
    <div class="row">
        <div class="col-lg my-4">
            <div class="contact-box">
                <div class="profile-box">
                    <div class="profile" style="background-image: url('static/Manager.jpg')";>
                        <p>Manager</p>
                    </div>
                </div>
                <h5 class="text">Jackie Zachary Wyman</h5>
                <h5 class="text" style="text-align:center;">Manager</h5>
                <p class="text" style="text-align:left;">(Facts about him)</p>
            </div>
        </div>

        <div class="col-lg my-4">
            <div class="contact-box">
                <div class="profile-box">
                    <div class="profile" style="background-image: url('static/as-manager.jpg');">
                        <p>Assitant-manager</p>
                    </div>
                </div>
                <h5 class="text">Monday Melicent Parent</h5>
                    <h5 class="text" style="text-align:center;">Assitant-manager</h5>
                    <p class="text" style="text-align:left;">(Facts about her)</p>

            </div>
        </div>
    </div>
{% endblock %}