{% extends "layout.html" %}

{% block title %}
NetCAfe
{% endblock %}


{% block main %}
    <div class="container text-box">
        <h3 class="text">Wecome to the NetCafe</h3>
        <img src="static/home.webp" style="width:50%">
        <p class="text">A pleasant, quiet and cozy environment will help you feel most comfortable here.
            We not only offer a distinct place for you to enjoy or work but also a variety of services.
        </p>
        <img src="static/map.webp" style="width:50%">
        <p class="text"> Location is just near the 80°14'34.2"S 0°24'05.8"E (random).
        </p>
    </div>
{% endblock %}