{% extends "layout.html" %}

{% block title %}
NetCAfe- Services
{% endblock %}

{% block main %}
<div class="container text-box" style="width:80%;">
    <h2 class="text">Available services</h2>
    <div class="row">
        <div class="col-lg item">
            <h3 class="text">Drinks</h3>
            <img src="static/drinks.jpg" style="width:80%">
            <p class="text" style="text-align:left;">&nbsp We provides a various theme of drinks including everyone's favourite, coffee,
                fruit smoothies and energy drinks.
            </p>
        </div>
        <div class="col-lg item">
            <h3 class="text">Food</h3>
            <img src="static/noodles.jpg" style="width:80%">
            <p class="text" style="text-align:left;">&nbsp Multiple flavours of instant korean ramyeon or japanese ramen are available. You won't even know which one to choose!
                Quick and fast casual snacks are also available!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg item">
            <h3 class="text">Conference rooms</h3>
            <img src="static/meeting.jpg" style="width:80%">
            <p class="text" style="text-align:left;">&nbsp We also have one private conference room that can hold maximum 10 people for your group to do meetings while enjoying a cafe environment.
                Make make sure to <span><a href="/booking">book</a></span> at least a day prior to see if the room is available! If you already booked, you can check your booked info <span><a href="/check">here</a></span>!
            </p>
        </div>
        <div class="col-lg item">
            <h3 class="text">Best Service</h3>
            <img src="static/service.jfif" style="width:80%">
            <p class="text" style="text-align:left;">&nbsp You will have a best time Here!
            </p>
        </div>
    </div>


</div>


{% endblock %}