{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th style="text-align:center">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for dict_item in data %}
        <tr>
            {% for key, value in dict_item.items() %}
                <td class="{% if key != 'symbol' %}text-end{% endif %}">{{value}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}